{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/css/jquery.fullpage.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/magnific-popup.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'libs/js/jquery.fullpage.min.js' %}"></script>
    <script src="{% static 'libs/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}

{% block left_nav %}
    <li data-menuanchor="main">
        <a href="#main">Главная</a>
    </li>
    <li data-menuanchor="adviser">
        <a href="#adviser">Рекламодателю</a>
    </li>
    <li data-menuanchor="site-owner">
        <a href="#site-owner">Владельцу сайта</a>
    </li>
    <li data-menuanchor="use-it">
        <a href="#use-it">Начать работу</a>
    </li>
{% endblock %}

{% block content %}
    {% include 'core/blocks/preloader.html' %}
    <div id="fullpage">
        <div class="section active">
            <div style="text-align: center">
                <h1>)) Targeto ((</h1>
                <h3>Мы автоматически размещаем Вашу рекламу<br>на предоставленных для этого площадках</h3>
                <h3>Система переводит деньги<br>от рекламодателей к владельцам площадок<br>только за реальные показы</h3>
                <br>
                <button class="btn btn-info btn-lg" id="js-more">Подробнее</button>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Что получает рекламодатель?</h1><br>
                <div style="display:inline-block">
                    <img src="{% static 'core/img/for_adviser.png' %}" width="720" height="400"/>
                </div>
                <br><br>
                <button class="btn btn-primary btn-lg js-adviser-reg">Зарегистрироваться!</button>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Что получает владелец сайта?</h1><br>
                <div style="display:inline-block">
                    <img src="{% static 'core/img/for_owner.png' %}" width="720" height="400"/>
                </div>
                <br><br>
                <button class="btn btn-default btn-lg js-site-owner-reg">Зарегистрироваться!</button>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Начать работу с системой?</h1><br><br>
                <div class="row">
                    <div class="col-sm-5" style="text-align: center">
                        <img src="{% static 'core/img/human.png' %}" width="150" height="170">
                        <h3>Вы рекламодатель?</h3><br>
                        <button class="btn btn-primary btn-lg js-adviser-reg">Начать!</button>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static 'core/img/targeto.png' %}" width="220" height="200">
                    </div>
                    <div class="col-sm-5" style="text-align: center">
                        <img src="{% static 'core/img/human.png' %}" width="150" height="170">
                        <h3>Вы владелец сайта?</h3><br>
                        <button class="btn btn-default btn-lg js-site-owner-reg">Начать!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="adviser-modal" class="mfp-hide white-modal">
        {% include 'core/blocks/register_form.html' with role=ADVISER %}
    </div>
    <div id="site-owner-modal" class="mfp-hide white-modal">
        {% include 'core/blocks/register_form.html' with role=SITE_OWNER %}
    </div>
{% endblock %}