{% extends 'core/base.html' %}
{% load static core_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/css/magnific-popup.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'libs/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/js/profile.js' %}"></script>
{% endblock %}

{% block left_nav %}
    {% if role == ADVISER %}
        <li><a href="#" class="js-add-form">Новая компания</a></li>
    {% elif role == SITE_OWNER %}
        <li><a href="#" class="js-add-form">Новая площадка</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-inner" style="margin: 0 5%">
        <h3>ЛК - {{ full_name }}</h3>
        <p>Email: {{ email }}</p>
        <p>Роль: {{ role }}</p>
        <br>
        {% if role == ADVISER %}
            <h4>1. Платёжные данные</h4>
            <p>Здесь пока ничего нет</p>
            <br>
            <h4>2. Мои рекламные кампании</h4>
            <div class="js-companies">
                {% if not my_companies %}
                    <p class="no-companies">Здесь пока ничего нет. <a href="#" class="js-add-form">Добавить?</a></p>
                {% else %}
                    {% for company in my_companies %}
                        <div class="well well-success">
                            <div class="row">
                                <h4 class="col-sm-5"><a href="{% url 'core:company_details' company|key:'id' %}">{{ company|key:'title' }}</a></h4>
                                <div class="col-sm-2" style="line-height: 3em"><p></p></div>
                                <div class="col-sm-2" style="line-height: 3em"><a href="{{ company|key:'link' }}">Переход по ссылке</a></div>
                                <div class="col-sm-3" style="line-height: 3em"><div style="color: green">Принято</div></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% elif role == SITE_OWNER %}
            <h4>1. Мои рекламные площадки</h4>
            <div class="js-sites">
                {% if not my_sites %}
                    <p class="no-sites">Здесь пока ничего нет. <a href="#" class="js-add-form">Добавить?</a></p>
                {% else %}
                    {% for site in my_sites %}
                        <div class="well well-success">
                            <div class="row">
                                <h4 class="col-sm-5"><a href="{% url 'core:site_details' site|key:'id' %}">{{ site|key:'title' }}</a></h4>
                                <div class="col-sm-2" style="line-height: 3em"><p>{{ site|key:'topic' }}</p></div>
                                <div class="col-sm-2" style="line-height: 3em"><a href="{{ site|key:'link' }}">Переход на сайт</a></div>
                                <div class="col-sm-3" style="line-height: 3em"><div style="color: red">Ожидает внедрения</div></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    <div id="add-modal" class="mfp-hide white-modal">
        {% if role == ADVISER %}
            {% include 'core/blocks/company_form.html' %}
        {% else %}
            {% include 'core/blocks/site_form.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block client %}
    <script type="text/template" id="site-item-tml">
        <div class="well well-success">
            <div class="row">
                <h4 class="col-sm-5"><a href="<%= details_url %>"><%= title %></a></h4>
                <div class="col-sm-2" style="line-height: 3em"><p><%= topic %></p></div>
                <div class="col-sm-2" style="line-height: 3em"><a href="<%= link %>">Переход на сайт</a></div>
                <div class="col-sm-3" style="line-height: 3em"><div style="color: red">Ожидает внедрения</div></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="company-item-tml">
        <div class="well well-success">
            <div class="row">
                <h4 class="col-sm-5"><a href="<%= details_url %>"><%= title %></a></h4>
                <div class="col-sm-2" style="line-height: 3em"><p></p></div>
                <div class="col-sm-2" style="line-height: 3em"><a href="<%= link %>">Переход по ссылке</a></div>
                <div class="col-sm-3" style="line-height: 3em"><div style="color: green">Принято</div></div>
            </div>
        </div>
    </script>
{% endblock %}
