<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}Targeto{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.css' %}">
    <style>body { padding-top: 70px; }</style>
    {% block css %}{% endblock %}

    <script src="{% static 'libs/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'libs/js/underscore.min.js' %}"></script>
    <script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" data-menuanchor="main" href="/#main">Targeto</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="left-navbar">
                    {% block left_nav %}{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right" id="right-navbar">
                    {% block right_nav %}{% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
        {% block modals %}{% endblock %}
    </div>
    {% block body_js %}{% endblock %}
</body>
</html>