{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/css/jquery.fullpage.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'libs/js/jquery.fullpage.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#ccddff'],
                anchors: ['main', 'adviser', 'site-owner', 'use-it'],
                menu: '#left-navbar',
                scrollBar: true
            });
        });
    </script>
{% endblock %}

{% block left_nav %}
    <li data-menuanchor="main">
        <a href="#main">Главная</a>
    </li>
    <li data-menuanchor="adviser">
        <a href="#adviser">Рекламодателю</a>
    </li>
    <li data-menuanchor="site-owner">
        <a href="#site-owner">Владельцу сайта</a>
    </li>
    <li data-menuanchor="use-it">
        <a href="#use-it">Начать работу</a>
    </li>
{% endblock %}

{% block right_nav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if not user.is_authenticated %}Войти{% else %}{{ user.email }}{% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% if user.is_authenticated %}
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Редактирование</a></li>
                <li><a href="#">Выйти</a></li>
            {% else %}
                <li>
                    <form action="#" method="post" class="form-horizontal" style="margin:30px;min-width:260px">
                        <h3>Log in</h3>
                        <div class="form-group">
                            <label for="id_email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-9 col-sm-offset-1">
                                <input type="email" name="email" id="id_email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="col-sm-2 control-label">Пароль</label>
                            <div class="col-sm-9 col-sm-offset-1">
                                <input type="password" name="password" id="id_password" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1">Войти</button>
                            <button type="submit" class="btn btn-default col-sm-5 col-sm-offset-2">Регистрация</button>
                        </div>
                    </form>
                </li>
            {% endif %}
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div id="fullpage">
        <div class="section active">
            <div style="text-align: center">
                <h1>Главная: Targeto</h1>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Страничка для рекламодателя</h1>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Страничка для владельца сайта</h1>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Начать работу с системой?</h1>
            </div>
        </div>
    </div>
{% endblock %}