{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'libs/css/jquery.fullpage.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/magnific-popup.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'libs/js/jquery.fullpage.min.js' %}"></script>
    <script src="{% static 'libs/js/magnific-popup.min.js' %}"></script>
{% endblock %}

{% block left_nav %}
    <li data-menuanchor="main">
        <a href="#main">Главная</a>
    </li>
    <li data-menuanchor="adviser">
        <a href="#adviser">Рекламодателю</a>
    </li>
    <li data-menuanchor="site-owner">
        <a href="#site-owner">Владельцу сайта</a>
    </li>
    <li data-menuanchor="use-it">
        <a href="#use-it">Начать работу</a>
    </li>
{% endblock %}

{% block right_drop %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'core:profile' %}">Личный кабинет</a></li>
{#          <li><a href="#">Редактирование</a></li>#}
        <li><a href="{% url 'core:logout' %}">Выйти</a></li>
    {% else %}
        <li>{% include 'core/blocks/login_form.html' %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'core/blocks/preloader.html' %}
    <div id="fullpage">
        <div class="section active">
            <div style="text-align: center">
                <h1>Главная: Targeto</h1><br>
                <button class="btn btn-info btn-lg" id="js-more">Подробнее</button>
                <script>$('#js-more').click(function () { $.fn.fullpage.moveSectionDown(); });</script>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Страничка для рекламодателя</h1><br>
                <button class="btn btn-primary btn-lg" id="js-adviser-reg">Регистрация</button>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Страничка для владельца сайта</h1><br>
                <button class="btn btn-default btn-lg" id="js-site-owner-reg">Регистрация</button>
            </div>
        </div>
        <div class="section">
            <div style="text-align: center">
                <h1>Начать работу с системой?</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script type="text/javascript">
        $('#fullpage').fullpage({
            sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#ccddff'],
            anchors: ['main', 'adviser', 'site-owner', 'use-it'],
            menu: '#left-navbar',
            scrollBar: true
        });
        $('#js-adviser-reg').magnificPopup({
            items: { src: '#adviser-modal', type: 'inline' }
        });
        $('#js-site-owner-reg').magnificPopup({
            items: { src: '#site-owner-modal', type: 'inline' }
        });
    </script>
{% endblock %}

{% block modals %}
    <div id="adviser-modal" class="mfp-hide white-modal">
        {% include 'core/blocks/register_form.html' with role=ADVISER %}
    </div>
    <div id="site-owner-modal" class="mfp-hide white-modal">
        {% include 'core/blocks/register_form.html' with role=SITE_OWNER %}
    </div>
{% endblock %}